__pycache__/
.pytest_cache/
pytest-cache-*/
.tectonic-cache/
*.py[cod]
*.pyo

.venv/
venv/
env/

*.pt
results/
test_tmp/

report/build/*
!report/build/main.pdf
*.aux
*.log
*.out
*.toc
*.synctex.gz

map_editor_server.err.log
map_editor_server.out.log
